
@model MVC.Models.ProductViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "#ProductBtn";
}

<img src="~/Resource/KhuyenMai.png" alt="Image-KhuyenMai" width="100%" />
<div class="container pt-3">
    <div class="row">
        
        <div class="col-12 col-lg-4 col-xl-3 pb-3">
            <form action="/Product/Index" method="get" class="align-items-center d-flex py-3" id="formSearch">
                <input type="text" name="metaTitle" value="@ViewBag.MetaTitle" id="metaTitle" hidden />
                <input type="text" id="TextSearch" placeholder="Search..." class="form-control" name="searchString" value="@ViewBag.SearchString" />
                <input type="text" name="page" value="@ViewBag.Page" id="page" hidden />

                <button class="btn btn-link navbar-toggler bg-white navbar-light d-lg-none pr-0" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </form>
            <nav id="sidebar-product" class="navbar-expand-lg bg-light navbar-light px-5 px-lg-4 ">

                <div id="sidebar" class="collapse navbar-collapse py-3">

                    <ul class="navbar-nav non-flex mr-0 h5 w-100 sidebar">
                        <li class="nav-item"><h3>Danh mục</h3></li>
                        <hr class="w-100" />
                        <li class="nav-item" id="Lasted"><a class="nav-link" href="/Product/Index?metaTitle=Lasted" >Mới nhất</a></li>
                        <li class="nav-item" id="Best-Saler"><a class="nav-link" href="/Product/Index?metaTitle=Best-Saler">Bán chạy</a></li>
                        <li class="nav-item" id="Hot"><a class="nav-link" href="/Product/Index?metaTitle=Hot">Hot</a></li>

                        @foreach (var item in Model.Categories)
                        {
                            <li class="nav-item" id="@item.MetaTitle"><a class="nav-link" href="/Product/Index?metaTitle=@item.MetaTitle">@item.Name</a></li>

                        }
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-12 col-lg-8 col-xl-9">
            @if (Model.Products.Count > 0)
            {
                <div class="row post-feed">
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-6 col-md-4 col-xl-3 py-3 post ">
                            <div class="view view-eighth">
                                <a href="/Product/Detail/@item.ProductID" class="text-decoration-none text-dark product">
                                    <div class="card border-0 position-relative">
                                        <img src="@Url.Content("~/"+item.ImageLink)" alt="Alternate Text" class="image-on-home m-auto" />
                                        @if (item.Tag == "hot")
                                        {
                                            <img src="~/Resource/hot.gif" class="position-absolute" style="right:7px;width:40px;top:10px;transform:rotate(45deg) " />

                                        }
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="row">
                                            <div class="col-12 pt-2 product-name overflow-hidden">
                                                <p>@item.ProductName</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 pt-2 product-price">
                                                @if (item.PromotionPrice != item.Price)
                                                {
                                                    <p>
                                                        @item.PromotionPrice <u>đ</u>
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p>
                                                        @item.Price <u>đ</u>
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 pt-2 product-discount">
                                                @if (item.PromotionPrice != item.Price)
                                                {
                                                    <del>
                                                        @item.Price <u>đ</u>
                                                    </del>
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 pt-2 product-rate">

                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="mask">
                                    <div class="row h-custom-40 align-content-end">
                                        <div class="col-auto mx-auto">
                                            <a href="#" onclick="AddToCart(@item.ProductID)" class="add">Add To Cart</a>
                                        </div>
                                    </div>
                                    <div class="row h-custom-12 align-content-center">
                                        <div class="col-auto mx-auto">
                                            <a href="/Product/Detail/@item.ProductID" class="info">View More</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    }
                </div>
                <div class="page-load-status text-center hide">
                    <p class="infinite-scroll-request">Loading...</p>
                    <p class="infinite-scroll-last">End of content</p>
                    <p class="infinite-scroll-error">No more pages to load</p>
                </div>
                @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    UlElementClasses = new string[] { "pagination", "justify-content-center" },
                    Display = PagedListDisplayMode.IfNeeded,
                    ContainerDivClasses = new[] { "my-paging" },
                    MaximumPageNumbersToDisplay = 5
                });
            }
            else
            {
                
            }

        </div>
    </div>
</div>
@section scripts{
    <script>
        $("ul.sidebar li.active").removeClass("active");
        $("@ViewBag.CategoryActive").addClass("active");
        $(document).ready(function () {
            $(".my-paging ul li a").addClass("page-link");
            $("#TextSearch").bind("keyup", function (event) {
                if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    $("#formSearch").submit();
                }
            });
            $(".page-link").click(function (e) {
                e.preventDefault();
                $("#page").val($(this).html());
                $("#formSearch").submit();
            });
            $('.PagedList-skipToNext a').click(function (e) {
                e.preventDefault();
                var number = parseInt($(".active .page-link").html(), 10) +1;
                $("#page").val(number);
                $("#formSearch").submit();
            });
            var link = $('.PagedList-skipToNext a').attr("href");
            var searchString = "@ViewBag.SearchString";
            var metatitle = '@ViewBag.MetaTitle';
            link = link+ "&searchString=" + searchString + "&metaTitle=" + metatitle;
            $('.PagedList-skipToNext a').attr("href", link);
            $('.post-feed').infiniteScroll({
            // options
            path: '.PagedList-skipToNext a',
            append: '.post',
            status: '.page-load-status',
                hideNav: '.pagination',
            history: false
            });
        });
        
        
    </script>
}


