@model PagedList.IPagedList<MVC.Models.OrderDetail>
@using PagedList.Mvc
@using MVC.Areas.Admin.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="phucni" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="formDelete">
                    @Html.Partial("ConfirmDelete", new MVC.Areas.Admin.Models.DeleteDetailViewModel())
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="phucni" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new order detail</h5>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="formAddContent">
                    @Html.Partial("Add", new MVC.Models.OrderDetail())
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="phucni" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update order detail</h5>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="formUpdateContent">
                    @Html.Partial("Update", new MVC.Models.OrderDetail())
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Order details</h2>


    <div class="row mb-3">
        <div class="col-auto">
            <a href="#modalAdd" data-toggle="modal" class="btn btn-primary">Add new order detail</a>
        </div>
        <div class="col-8 col-lg-6 col-sm-7 mx-auto">
            <form action="/Admin/OrderDetails/Index" class="align-items-center d-flex">
                <input type="text" placeholder="Search..." class="form-control" value="@ViewBag.SearchString" name="searchString" />
                <input type="submit" value="Search" class="btn btn-outline-info mx-2" />
            </form>
        </div>
    </div>

<div class="row">
    <div class="col-12" >
        <div style="overflow:auto">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">
                            Order ID
                        </th>
                        <th class="text-center">
                            Product ID
                        </th>
                        <th class="text-center">
                            Count
                        </th>
                        <th class="text-center">
                            Price
                        </th>
                        <th class="text-center">
                            Promotion Price
                        </th>
                        <th></th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                <tr>
                    <td class="text-center">
                        <nobr>
                            @Html.DisplayFor(modelItem => item.OrderID)
                        </nobr>
                    </td>
                    <td class="text-center">
                        <nobr>
                            @Html.DisplayFor(modelItem => item.ProductID)
                        </nobr>
                    </td>
                    <td class="text-center">
                        <nobr>
                            @Html.DisplayFor(modelItem => item.Count)
                        </nobr>
                    </td>
                    <td class="text-center">
                        <nobr>
                            @Html.DisplayFor(modelItem => item.Price)
                        </nobr>
                    </td>
                    <td class="text-center">
                        <nobr>
                            @Html.DisplayFor(modelItem => item.PromotionPrice)
                        </nobr>
                    </td>
                    <td>
                        <nobr>
                            <a href="#" onclick="UpdateItem(@item.OrderID,@item.ProductID)"><i class="far fa-edit"></i></a> |
                            <a href="#" onclick="DeleteItem(@item.OrderID,@item.ProductID)" class="Delete-Item"><i class="fas fa-trash-alt"></i></a>
                        </nobr>
                    </td>
                </tr>
                }


            </table>

        </div>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index",new { page, @searchString = @ViewBag.SearchString }), new PagedListRenderOptions {
    LiElementClasses = new string[] { "page-item"}, UlElementClasses = new string[] { "pagination", "justify-content-center" },
    MaximumPageNumbersToDisplay = 5,
    Display = PagedListDisplayMode.IfNeeded,
    ContainerDivClasses = new[] { "my-paging" },
})
@section scripts{
    <script>
        var id;
        function DeleteItem(orderID,productID) {
            $.ajax({
                url: '/Admin/OrderDetails/DeleteTransfer/?MainID=' + orderID + '&&SubID=' + productID,
                method: 'post',
                success: function (partialView) {
                    $("#formDelete").html(partialView);
                    $("#modalConfirmDelete").modal();
                }
            });
            return false;
        };
        function UpdateItem(orderID, productID) {
            $.ajax({
                url: '/Admin/OrderDetails/UpdateTransfer/?MainID=' + orderID + '&&SubID=' + productID,
                method: 'post',
                success: function (partialView) {
                    $("#formUpdateContent").html(partialView);
                    $("#modalUpdate").modal();
                }
            });
            return false;
        }
        $(document).ready(function () {
            $(".my-paging ul li a").addClass("page-link");
            $("#modalAdd").on("submit", "#formAdd", function (e) {
                e.preventDefault();  // prevent standard form submission

                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),  // post
                    data: form.serialize(),
                    success: function (partialResult) {
                        if (partialResult == "success") {
                            $("#modalAdd").modal('hide');
                            $("#TextSuccess").html('Add order detail successfully!');
                            $("#modalSuccess").modal();
                        }
                        else
                            $("#formAddContent").html(partialResult);
                    }
                });
            });
            $("#modalSuccess").on("hidden.bs.modal", function () {
                window.location.reload();
            });
            $("#modalConfirmDelete").on("submit", "#formConfirmDelete", function (e) {
                e.preventDefault();  // prevent standard form submission

                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),  // post
                    data: form.serialize(),
                    success: function (partialResult) {
                        $("#modalConfirmDelete").modal('hide');
                        if (partialResult == "success") {
                            $("#TextSuccess").html('Delete order detail successfully!');
                            $("#modalSuccess").modal();
                        }
                        else {
                            $("#modalDeleteFailure").modal();
                            $("#TextFailure").html('Delete order detail fail!');
                        }
                    }
                });
            });
            $("#modalUpdate").on("submit", "#formUpdate", function (e) {
                e.preventDefault();  // prevent standard form submission

                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),  // post 
                    data: form.serialize(),
                    success: function (partialResult) {
                        $("#modalUpdate").modal('hide');
                        if (partialResult == "success") {
                            $("#TextSuccess").html('Update order detail succesfully!');
                            $("#modalSuccess").modal();
                        }
                        else {
                            $("#TextFailure").html('Update order detail fail!');
                            $("#modalUpdateFailure").modal();
                        }
                    }
                });
            });
        });

    </script>
}