@model MVC.Models.Order
@using (Html.BeginForm("Update", "Orders", FormMethod.Post, new { id = "formUpdate" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "", new { @class = "alert-danger" });
    @Html.HiddenFor(model => model.ID)
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                <label for="InputCreateDateAPC">Create Date</label>
                @Html.TextBoxFor(model => model.CreateDate, new { @class = "form-control", id = "InputCreateDateAPC", @readonly = true })
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                <label for="InputCreateByAPC">Create By</label>
                @Html.TextBoxFor(model => model.CreateBy, new { @class = "form-control", id = "InputCreateByAPC", placeholder = "Create By", @readonly = true })
                @Html.ValidationMessageFor(model => model.CreateBy, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                <label for="InputShipNameAPC">Ship Name</label>
                @Html.TextBoxFor(model => model.ShipName, new { @class = "form-control", id = "InputShipNameAPC", placeholder = "Ship name"})
                @Html.ValidationMessageFor(model => model.ShipName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                <label for="InputShipMobileAPC">ShipMobile</label>
                @Html.TextBoxFor(model => model.ShipMobile, new { @class = "form-control", id = "InputShipMobileAPC", placeholder = "Ship Mobile" })
                @Html.ValidationMessageFor(model => model.ShipMobile, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                <label for="InputShipAddressAPC">Ship Address</label>
                @Html.TextBoxFor(model => model.ShipAddress, new { @class = "form-control", id = "InputShipAddressAPC", placeholder = "Enter Ship Address", @Value = "1" })
                @Html.ValidationMessageFor(model => model.ShipAddress, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                <label for="InputShipEmailAPC">Ship Email</label>
                @Html.TextBoxFor(model => model.ShipEmail, new { @class = "form-control", id = "InputShipEmailAPC", placeholder = "Ship Email", @Value = "1" })
                @Html.ValidationMessageFor(model => model.ShipEmail, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                <label for="InputOrderedAPC">Ordered</label>
                @Html.TextBoxFor(model => model.Ordered, new { @class = "form-control", id = "InputOrderedAPC", placeholder = "Ordered" })
                @Html.ValidationMessageFor(model => model.Ordered, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                <label for="InputCompleteAPC">Complete</label>
                @Html.TextBoxFor(model => model.Complete, new { @class = "form-control", id = "InputCompleteAPC", placeholder = "Complete", @Value = "1" })
                @Html.ValidationMessageFor(model => model.Complete, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.Complete);
    <div class="row">
        <div class="col-8 offset-2">
            <div class="form-group">
                <label for="InputStatusAPC">Status</label>
                @Html.TextBoxFor(model => model.Status, new { @class = "form-control", id = "InputStatusAPC", placeholder = "Enter Status" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5 offset-6">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
}
