@model MVC.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="modal fade" id="modalUpdatePassword" tabindex="-1" role="dialog" aria-labelledby="phucni" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="formChangePasswordContent">
                    @Html.Partial("ChangePassword", new MVC.Models.ChangePasswordInfo())
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mx-5">
    <h2>Thông tin cá nhân</h2>
    @using (Html.BeginForm("Update", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true, "", new { @class = "aleart-danger" });
        @Html.HiddenFor(model => model.ID)
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label for="InputUserIDUU">User ID</label>
                    @Html.TextBoxFor(model => model.UserID, new { @class = "form-control", id = "InputUserIDUU", placeholder = "Enter user ID" })
                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <a href="#modalUpdatePassword" data-toggle="modal">Click to change your password!</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label for="InputEmailAU">Full name</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "InputNameUU", placeholder = "Enter full name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label for="InputPhoneAU">Phone number</label>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", id = "InputPhoneUU", placeholder = "Enter phone number" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label>Sex: </label>
            </div>
            <div class="form-check form-check-inline">
                @Html.RadioButtonFor(model => model.Sex, "Male", new { id = "MaleRadio" })
                <label class="form-check-label" for="MaleRadio">
                    Male
                </label>
            </div>
            <div class="form-check form-check-inline">
                @Html.RadioButtonFor(model => model.Sex, "Female", new { id = "FemaleRadio" })

                <label class="form-check-label" for="FemaleRadio">
                    Female
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label for="InputEmailUU">Email address</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "InputEmailUU", placeholder = "Enter email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label for="InputAddressEU">Address</label>
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", id = "InputAddressEU", placeholder = "Enter address" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    }




    @Html.HiddenFor(model => model.Role)
    @Html.HiddenFor(model => model.Active)
    @Html.HiddenFor(model => model.Status)
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#modalUpdatePassword").on("submit", "#formChangePassword", function (e) {
                e.preventDefault();  // prevent standard form submission

                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),  // post
                    data: form.serialize(),
                    success: function (partialResult) {
                        if (partialResult == "success")
                            location.reload();
                        else
                            $("#formChangePasswordContent").html(partialResult);
                    }
                });
            });
        });
    </script>
}
